.about-container {
    margin-top: 10rem;
    border-radius: 20px;
    height: 100px;
  }
  
  .abouth1{
    color: #388EFF;
    text-align: center;
  }
  .abouth4{
    color: #034aa7;
    text-align: center;
    margin-bottom: 1rem;
  }
  .about{
    display: flex;
  }
  .column {
    flex: 2; /* 2/3 of the width for the first column */
    padding: 1rem; /* Add padding for better spacing */
    display: flex;
    flex-direction: column; /* Make the child elements stack vertically */
  }
  
  .aboutuscontent {
    margin-bottom: 1rem; /* Add margin for spacing between paragraphs */
  }
  
  .imagepos {
    flex: 1; 
    width: 100%; /* Make the image fill the column */
    height: auto;
  }

  .aboutcomponent {
    border-radius: 20px;
    display: grid; /* Change display to grid */
    grid-template-columns: repeat(2, 1fr);
    padding: 4px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
  }
 .about p{
    color: rgb(58, 57, 57);
    padding-left: 10px;
    margin-bottom: 1rem;
 }
  .abouticon svg {
    padding-top: 1rem;
    font-weight: 700;
    color: #388EFF;
    width: auto;
    height: 60px;
  }
  .idabout {
    flex-direction: column;
    margin-right: 3rem;
    background: #f4f5f6;
    border-radius: 20px;
    display: flex;
  }
  .titleitem {
    color: #034aa7;
    font-size: 20px;
  }
  
  .numberitem {
    font-weight: 500;
    color: gray;
  }
  