.small-navbar {
    display: flex;
    align-items: stretch;
    padding-top: 6.5rem; 
}
.content-category{
    margin-top: -4rem;
}
.search-bar {
    width: 300px;
}

div.search-input-container {
    display: flex;
    background: #F4F5F6;
    align-items: center;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 0;
    box-shadow: 2px 2px 4px 2px rgba(38, 45, 118, 0.08);
}

.search-icon {
    padding-left: 0px;
    color: #388EFF;
}

.search-input {
    flex: 1; /* Take up remaining space */
}

input[type='text'] {
    background: #F4F5F6;
    color: #004bac;
    flex: 1;
    margin: 6px;
    border: none;
    outline: none;
}

.category-buttons {
    display: flex;
    width: 900px;
   
    flex-wrap: wrap; /* Allow buttons to wrap to the next line on smaller screens */
}
 
  .category-button.active{
    background: #388EFF; 
    color: #fff; 
  }

  .category-button {
    color: #004bac;
    padding: 10px;
    border-radius: 10px;
    background: #F4F5F6;
    box-shadow: 2px 2px 4px 2px rgba(38, 45, 118, 0.08);
    margin-left: 9px;
    
  }

  @media screen and (max-width: 1168px) {
    .small-navbar {
        flex-direction: column;
    }

    .category-buttons {
        width: 100%;
        padding-right: 1rem;
    }

    .search-bar {
        width: 100%;
    }
  }