.small-navbar {
    display: flex;
    align-items: stretch;  
    padding-top: 6rem; 
    padding-left: 0.3rem;
    padding-bottom: 1rem;
    background: #deedff;
    border-radius: 20px;
}

.search-bar {
    width: 300px;
}

div.search-input-container {
    display: flex;
    background: #f9fcff;
    align-items: center;
    border-radius: 50px;
    padding-left: 20px;
    height: 47.2px;
    box-shadow: 2px 2px 4px 2px rgba(38, 45, 118, 0.08);
}

.search-icon {
    padding-left: 0px;
    color: #388EFF;
}

.search-input {
    flex: 1; /* Take up remaining space */
}

input[type='text'] {
    background: #f9fcff;
    color: #004bac;
    flex: 1;
    margin: 6px;
    border: none;
    outline: none;
}

.category-buttons {
    display: flex;
    width: 900px;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line on smaller screens */
}
 
  .category-button.active{
    background: #1b60a0; 
    color: #fff; 
  }

  .category-button {
    color: #1b60a0;
    padding: 10px;
    border-radius: 10px;
    background: #f9fcff;
    box-shadow: 2px 2px 4px 2px rgba(38, 45, 118, 0.08);
    margin-left: 9px;
    
  }

 .Courses .courses_wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 2rem 0rem 2rem 1.1rem;
  }

  .Courses h1{
    margin: 3rem 0rem 0rem 0rem;
    width: fit-content;
   border-bottom: 1px solid ;
    text-align: left;
    font-size: 30px;
    color: #0268c7;
  }
  .Courses big{
    padding-left: 130px ;
    color: red;
    font-weight: 550;
    }

  @media screen and (max-width: 1494px) {
    .small-navbar {
        flex-direction: column;
    }

    .category-buttons {
        width: 100%;
        padding-bottom: 1rem;
        gap:3px;
    }

    .search-bar {
        width: 300px;
    }
  }
