nav{
    height: 5rem;
    width: 100vw; 
    border-bottom: 0.25px solid #486284;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: grid;
}
/* only show on medium and small screen*/
.nav_toggle-btn{
    display: none;
}
.nav_container {
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative; 
}
.logo{
    width: 10rem;
}
.nav_links{
    display: flex;
    gap: 3.5em;
    align-items: center;
    font-size: 14px;
}
.nav_links a{
    transition: var(--transition);
}
.nav_links a:hover{
    color: #589CFE;
}
.active-nav{
    position: relative;
}
.active-nav::after{
    content: '';
    display: block;
    height: 3px;
    background: #589CFE;
    position: absolute;
    margin-top: 0.2rem;
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .nav_toggle-btn{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        cursor: pointer;
    }
    .nav_toggle-btn svg {
        color: rgb(49, 105, 155);
    }
    
}



