#scrollToTopBtn {
    position: fixed;
    bottom: 40px;
    right: 30px;
    border: none;
    background: rgb(53, 200, 254);
    border-radius: 50px;
    padding: 10px;
    box-shadow: 8px 8px 24px 20px rgba(54, 104, 151, 0.08);;
    cursor: pointer;
    font-size: 16px;
    width: 70px;
    height: 70px;
}