/* .wrapper {
  margin: 10rem;
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(3, 71, 160, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: var(--transition);
 
}

.wrapper.active {
  height: 540px;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform .10s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform .10s ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #1b60a0;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2rem;
  color: #1b60a0;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #1b60a0;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #1b60a0;
  font-weight: 500;
  pointer-events: none;
  transition: var(--transition);
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -7px;
}

.input-box input[type="password"] {
  color: black;
  padding-right: 10px;
  font-weight: 500;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: rgb(10, 150, 150);
  font-weight: 300;
  padding: 0 90px 0 5px;
}

.term,
.forgot {
  font-size: 0.8em;
  color: #1b60a0;
  font-weight: 500;
  margin: -15px 0 15px 0;
  text-align: left;
}

.term label input,
.forgot a {
  accent-color: #1b60a0;
  text-decoration: none;
}

.forgot a:hover,
.wrapper p a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #1b60a0;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  font-weight: 500;
}

.wrapper p {
  font-size: 0.8rem;
  color: #1b60a0;
  text-align: center;
  font-weight: 500;
  margin: 15px 0 0 10px;
}

.wrapper p a {
  color: blue;
  font-weight: 500;
} */
